<!DOCTYPE html>
<html lang="en-AU">
    <head>
        <title>Webpage</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="webpage.css">
        <link rel="stylesheet" href="clubs.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="webpage.js" defer></script>
    </head>
    <body>

        <!-- Header -->
        <div id="outer-header">
            <nav id="nav" class="navbar navbar-expand-sm container">
                <a href="/index.html">
                    <img class="logo" src="University-of-Adelaide-white-logo.png" alt="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false">
                    Menu
                </button>
                <div class="collapse navbar-collapse"  id="navbar">
                    <ul class="navbar-nav ms-auto">
                        <li v-for="link in top_menu" class="nav-item">
                            <a :href="link.url" class="nav-link">{{ link.title }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Club Introduction -->
        <h2 id="club-title" class="text-center">Club 3</h2>
        <div id="outer-register">
            <div id="register" class="container text-center">
                <div class="row">
                    <div id="description" class="col-sm-12 col-md-6 col-lg-6">
                        Our 'Club 3' is a fun and inclusive community where individuals of all skill
                        levels can come together to learn and enjoy!
                    </div>
                    <!-- In a more developed version, with an implemented database, this register button will
                    serve the function of registering a logged in user into the club -->
                    <div id="register-button-div" class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center justify-content-evenly">
                        <a href="#" id="register-button">
                            Register Here
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Club Content -->
        <div id="outer-content">
            <div id="clubs-content" class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <!-- Placeholder Image -->
                        <div id="clubs-img-div">
                            <img id="clubs-img" class="img-fluid" src="outdoor event.jpeg" alt="photo"/>
                        </div>
                    </div>
                    <div id="upcoming-club-events" class="col-sm-12 col-md-6 col-lg-6">
                        <div>
                            <h2 class="text-center">
                                Upcoming Events
                            </h2>
                            <p class="text-center">
                                Here are some of the upcoming events in this club.
                            </p>
                            <div id="clubs-inner">
                                <ul>
                                    <li v-for="items in events">
                                        <span>{{ items.content }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer" class="text-center">
            <img id="footer-logo" class="img-fluid" src="University-of-Adelaide-white-logo.png" alt="footer-logo"/>
            <p id="footer-text">
                Web Project for Web & Database Computing
            </p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>