#club-title {
    background-color: rgb(17, 17, 17);
    color: white;
    margin: 0;
    padding: 20px;
    border-bottom: 0.1px solid white;
}


/* adapted from https://codepen.io/CameronWitcher/pen/MWMVEm */
.accept {
  color: #FFF;
  background: #44CC44;
  padding: 15px 20px;
  box-shadow: 0 4px 0 0 #2EA62E;
}
.accept:hover {
  background: #6FE76F;
  box-shadow: 0 4px 0 0 #7ED37E;
}
.deny {
  color: #FFF;
  background: tomato;
  padding: 15px 20px;
  box-shadow: 0 4px 0 0 #CB4949;
}
.deny:hover {
  background: rgb(255, 147, 128);
  box-shadow: 0 4px 0 0 #EF8282;
}

#description {
    padding: 10px;
}

#register-button-div {
    padding: 10px;
}

#register-button {
    background-color: blue;
    padding: 6px 18px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

/* Club content */
#clubs-content {
    padding: 20px 10px;
}

#clubs-img {
    padding: 30px;
}

#upcoming-club-events {
    padding: 30px;
    display: flex;
    align-items: center; /* Align vertically in the middle */
    justify-content: center; /* Align horizontally in the middle */
}

#clubs-inner {
    padding: 10px 10px;
    border: 0.1px solid black;
    border-radius: 5px;

    overflow-y: auto;
}

#application {
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
