body {
    background-color: white;
}

/* Header */
#outer-header {
    background-color:black;
    border-bottom: 0.1px solid white;
}

.navbar-nav .nav-link {
    color:white;
}

.navbar-nav .nav-link:hover {
    color:antiquewhite;
}

.logo {
    display: block;
    width: 150px;
    padding: 20px;
}

button {
    color:white;
}

/* Club Information */
#club-title {
    background-color: rgb(17, 17, 17);
    color: white;
    margin: 0;
    padding: 20px;
    border-bottom: 0.1px solid white;
}

#outer-club-info {
    background-color:rgb(17, 17, 17);
    border-bottom: 0.1px solid white;
}

#club-info {
    box-sizing: border-box;
    padding: 20px 10px;
    background-color:rgb(17, 17, 17);
    color: white;
    display: flex;
}

#club-img-div {
    text-align: center;
}

#club-img {
    padding: 20px
}

#club-info-div {
    padding: 20px;
    display: flex;
    align-items: center;
}

#club-content {
    margin: 0 auto;
}

/* Club Search */
#club-search {
    padding: 30px;
}

#club-search-title {
    padding: 0px 0px 10px 0px;
}

#filtered-section {
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0px 0px 0px;
    border: 0.1px solid black;

    height: 250px;

    overflow-y: auto;
}

#styled-li {
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;

    background-color: rgb(17, 17, 17);
    border-radius: 4px;

    display: flex;
    align-items: center;
}

#styled-a {
    text-decoration: none;
    color: white;
    font-size: 150%;
}

/* Footer */
#footer {
    background-color:rgb(17, 17, 17);
    padding: 30px 0px;
}

#footer-logo {
    height: 50px;
}

#footer-text {
    padding: 30px 0px 0px 0px;
    color: white;
    font-size: small;
}

/* Create Event Form */
#createEvent {
    padding: 30px;
    border-top: solid black;
}

/* Post Update Form */
#postUpdate {
    padding: 30px;
    border-top: solid black;
}

.formHeading {
    padding: 0px 0px 10px;
}