body {
    background-color: white;
}

/* Header */
#outer-header {
    background-color:black;
    border-bottom: 0.1px solid white;
}

.navbar-nav .nav-link {
    color:white;
}

.navbar-nav .nav-link:hover {
    color:antiquewhite;
}

.logo {
    display: block;
    width: 150px;
    padding: 20px;
}

button {
    color:white;
}

/* Systems Admin */

#sysadmin-title {
    background-color: rgb(17, 17, 17);
    color: white;
    margin: 0;
    padding: 20px;
    border-bottom: 0.1px solid white;
}

#sysadmin-info-outer {
    background-color:rgb(17, 17, 17);
    border-bottom: 0.1px solid white;
}

#sysadmin-info {
    box-sizing: border-box;
    padding: 20px 10px;
    background-color:rgb(17, 17, 17);
    color: white;
}

#approve-clubs-title {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: .1px white;
    color: white;
    text-align: center;
    background-color:rgb(17, 17, 17);
}

/* Club Application Search*/
#application-search {
    padding: 30px;
}

#application-search-title {
    padding: 0px 0px 10px 0px;
}

#filtered-section {
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0px 0px 0px;
    border: 0.1px solid black;

    height: 250px;

    overflow-y: auto;
}

#styled-li {
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;

    background-color: rgb(17, 17, 17);
    border-radius: 4px;

    display: flex;
    align-items: center;
}

#styled-a {
    text-decoration: none;
    color: white;
    font-size: 150%;
}

/* Site Users Details */
#manage-users{
    padding: 0px;
}

#manage-users-title{
    text-decoration: none;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: .1px white;
    color: white;
    text-align: center;
    background-color:rgb(17, 17, 17);
}
#users-table{
    text-decoration: none;
    padding:0;
    width:100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
th, td{
    text-align: center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th {
    background-color:rgb(17, 17, 17);
    color: white;
}

/* Manage Clubs*/
#manage-clubs{
    padding: 0px;
}
#manage-clubs-title{
    text-decoration: none;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: .1px white;
    color: white;
    text-align: center;
    background-color:rgb(17, 17, 17);
}

/* Signup new Admins*/
#signup-new-admins{
    padding: 0px;
}
#signup-new-admins-title{
    text-decoration: none;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: .1px white;
    color: white;
    text-align: center;
    background-color:rgb(17, 17, 17);
}
#admin-signup{
    padding:50px;
    background: #212121;
    flex-basis: 50%;
    flex-grow: 1;
    width: 50%;
    display: flex;
}
.input-box{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    outline:none;
    color:fff;
    font-size:12px;
    background: transparent;
}
::placeholder{
    color: white;
}
.admin-signup button{
    width: 100%;
    background: white;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.5s;
}
.admin-signup button:hover{
    font-weight: 500;
    background: black;
    color: white;
}

/* Footer */
#footer {
    background-color:rgb(17, 17, 17);
    padding: 30px 0px;
}

#footer-logo {
    height: 50px;
}

#footer-text {
    padding: 30px 0px 0px 0px;
    color: white;
    font-size: small;
}